
/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.site-header {

}
.site-content {

}
.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/


body {
	background-color: #B6D9FF;
}
.header{
	width: 100%;
	h1{
		text-align: center;
		font-size: 5em;
	}
}
.boxHeader{
	padding: 0.5embox;
}
.imageWrap{
	width: 90%;
	margin: auto;
}
.imageBox{
	width: 50%;
	background-color: #F7FFDB;
	float: left;
	max-height: 5%;
	text-align: center;
	img{
		width: 100%;
	}
}
.newsWrap{
	width: 90%;
	margin: auto;
	border: 1px solid black;
}
.newsBox{
	float: left;
	width: 33.33333%;
}
.nasaDescWrap{
	text-decoration: none;
	color: black;
}







